# Dependencies
node_modules/

# Environment
.env

# Next.js
.next/
out/

# Hardhat / Web3
artifacts/
cache/
typechain/

# Tooling
.cache/

# Legacy frontend
frontend-old/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
