# ======================
# Node / Package managers
# ======================
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Lockfiles (use apenas UM no projeto)
pnpm-lock.yaml
package-lock.json
yarn.lock

# ======================
# Environment variables
# ======================
.env
.env.*
!.env.example

# ======================
# Hardhat
# ======================
cache/
artifacts/
coverage/
coverage.json
gas-report.txt

# Hardhat Ignition
ignition/
# !ignition/modules/

# ======================
# TypeChain / Ethers
# ======================
typechain/
typechain-types/

# ======================
# Solidity tooling extras
# ======================
.openzeppelin/

# ======================
# Foundry (caso apareça)
# ======================
lib/
out/

# ======================
# Editor / IDE
# ======================
.vscode/
.idea/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db
