# ======================
# Node / NPM
# ======================
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml

# ======================
# Env
# ======================
.env
.env.*

# ======================
# Hardhat
# ======================
blockchain/cache/
blockchain/artifacts/
blockchain/coverage/
blockchain/coverage.json

# Hardhat Ignition
blockchain/ignition/deployments/

# ======================
# TypeChain
# ======================
blockchain/typechain/
blockchain/typechain-types/

# ======================
# Foundry (se aparecer de novo)
# ======================
blockchain/lib/
blockchain/out/

# ======================
# VSCode
# ======================
.vscode/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db
